/* minimal reset */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #111;
}
textarea, select, button {
  font-family: inherit;
  font-size: 14px;
}
